em-event-form {

    .form {
        width: 700px;
        padding: 20px;

        h1 {
            text-transform: uppercase;
            text-align: center;
        }

        .btn-container {
            text-align: right;
        }

        .sessions-wrapper {

            .sessions {
                border-left: 3px solid #e0e0e0;
                padding-left: 20px;
                margin-top: 10px;

                .md-block.title {
                    margin-bottom: 0;
                }
            }

        }

        .md-raised.add-session,
        .md-raised.remove-session {
            min-width: 35px;
            border-radius: 50%;
            position: relative;
            top: -2px;
        }
        .md-raised.remove-session {
            font-size: 10px;
            top: 7px;
        }
    }

    @media (max-width: 599px) {
         .form {
            width: auto;

            md-input-container {
                margin: 5px 0;
            }
        }
    }

}
