em-event-registrations-list {
    .registrations-list {
        margin-top: 10px;

        md-list-item {
            border-bottom: 1px solid #dedede;
        }
        md-list-item:last-child {
            border-bottom: none;
        }
    }
}
